<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: {{user.favorite_team.color_01}};">    
        <a class="navbar-brand" href="#">llsutherland.ca</a>    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">               
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home'  %}" style="{% if request.resolver_match.url_name == "home" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'members'  %}" style="{% if request.resolver_match.url_name == "members" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fas fa-users"></i> Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news'  %}" style="{% if request.resolver_match.url_name == "news" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fas fa-newspaper"></i> News</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rules'  %}" style="{% if request.resolver_match.url_name == "rules" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fas fa-file-signature"></i> Rules</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'talk'  %}" style="{% if request.resolver_match.url_name == "talk" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fab fa-speakap"></i> Talk</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fees'  %}" style="{% if request.resolver_match.url_name == "fees" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fas fa-hand-holding-usd"></i> Fees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'picks'  %}" style="{% if request.resolver_match.url_name == "picks" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fas fa-clipboard-check"></i> Picks</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'standings'  %}" style="{% if request.resolver_match.url_name == "standings" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fas fa-sort-amount-up"></i> Standings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'winners'  %}" style="{% if request.resolver_match.url_name == "winners" %}color:{{user.favorite_team.color_02}};{% else %}color:{{user.favorite_team.color_03}};{% endif %}"><i class="fas fa-trophy"></i> Winners</a>
                </li>                
            </ul>
            <form class="form-inline mt-2 mt-md-0">
            <a class="btn btn-light mr-2 my-2 my-sm-0" href="" style="background-color:{{user.favorite_team.color_02}};color:{{user.favorite_team.color_01}};border-color:{{user.favorite_team.color_03}}"><i class="fas fa-clock"></i> {{request.session.django_timezone}}</a>      
            {% if current_season %}
                <div class="dropdown dropleft pl-2 pr-2">
                    <a class="btn btn-secondary dropdown-toggle" style="background-color:{{user.favorite_team.color_03}};color:{{user.favorite_team.color_01}};border-color:{{user.favorite_team.color_02}}" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{current_season.name| truncatechars:10}}
                    </a>
            {% endif %}         
            {% if seasons %}
                <div class="dropdown-menu" style="background-color:{{user.favorite_team.color_03}};color:{{user.favorite_team.color_01}};border-color:{{user.favorite_team.color_02}}" aria-labelledby="dropsownSeason">
                    {% for season in seasons %}
                        <a class="dropdown-item" href>{{season.name}}</a>
                    {% endfor %}
                </div>
            {% endif %}
                    
                </div>
                <div class="dropdown dropleft pl-2 pr-2">
                    <a class="btn btn-secondary dropdown-toggle" style="background-color:{{user.favorite_team.color_02}};color:{{user.favorite_team.color_01}};border-color:{{user.favorite_team.color_03}}" href="#" role="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownProfile">
                        <a class="dropdown-item" href="{% url 'edit_user' %}"><i class="far fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}"><i class="fas fa-key"></i> Change Password</a>
                    </div>
                </div>
                <a class="btn btn-success mr-2 my-2 my-sm-0" href="{% url 'logout' %}" style="background-color:{{user.favorite_team.color_03}};color:{{user.favorite_team.color_01}};border-color:{{user.favorite_team.color_02}}"><i class="fas fa-sign-out-alt"></i> Logout {{user.username}}</a>
                
                {% if user.is_staff %}
                    {% comment %} <a class="btn btn-secondary" href="/admin" style="background-color:{{user.favorite_team.color_02}};color:{{user.favorite_team.color_01}};border-color:{{user.favorite_team.color_03}}" role="button" id="dropdownAdminister">Administer</a> {% endcomment %}
                    <div class="dropdown dropleft">
                        <button class="btn btn-secondary dropdown-toggle" style="background-color:{{user.favorite_team.color_02}};color:{{user.favorite_team.color_01}};border-color:{{user.favorite_team.color_03}}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-tools"></i> Administer
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/admin"><i class="fas fa-user-lock"></i>  Site-Wide</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'email_reminder' %}"><i class="fas fa-bell"></i>  Send Email Reminder</a>
                        </div>
                    </div>
                {% endif %}                
            </form>
        </div>
    </nav>