{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}
{% block jumbotron %}&nbsp;{% endblock %}
{% block body %}

    <h1>Change your Password</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <div class="form-group row">
            <div class="col-sm-6">
                <input class="btn btn-success" type="submit" value="Save"></input>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'home' %}" class="btn btn-secondary" type="button">Cancel</a>
            </div>
        </div>
        {% comment %} <div class="form-group row">
          <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>  
        </div>
        <div class="form-group row">
            <label for="id_username" class="col-sm-2 col-form-label">Username:</label> 
            <div class="col-sm-6">
                <input type="text" name="username" class="form-control form-control-sm" placeholder="Username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" value="{{user.username}}" readonly>
            </div>
        </div>     
        <div class="form-group row">
            <label for="id_old_password" class="col-sm-2 col-form-label">Old Password:</label> 
            <div class="col-sm-6">
                <input type="password" name="old_password" class="form-control form-control-sm" placeholder="Old Password" autocomplete="current-password" autofocus required id="id_old_password">
                <small id="oldPasswordHelp" class="form-text text-muted mb-1">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</small>
            </div>
        </div>        
        

        <div class="form-group row">
            <label for="id_password_change" class="col-sm-2 col-form-label">Password:</label> 
            <small id="passwordHelp" class="form-text text-muted mb-1">Raw passwords are not stored, so there is no way to see this user’s password, but you can change the password using <a href="{% url 'password_change' %}">this form</a>.</small>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input class="btn btn-success" type="submit">Save</input>
            </div>
            <div class="col-sm-6">
                <a href="/nfl/profile/" class="btn btn-secondary" type="button">Cancel</a>
            </div>
        </div>  {% endcomment %}
    </form>
{% endblock body %}

