{% extends "no_nav_base.html" %} 

{% block title %}Email Sent{% endblock %}
{% block jumbotron %}&nbsp;{% endblock %}
{% block body %}
 <form class="form-signin">
   {% csrf_token %}
   <div style="text-align: center;">
    <img class="mb-4" src="../../static/nfl/pool.gif" alt="">
   </div>
  <h1 class="h3 mb-3 font-weight-normal">Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  
  <a href="{% url 'login' %}" class="btn btn-lg btn-primary btn-block mt-4" type="submit">Login</a>
</form>

{% endblock %}