{% extends 'base.html' %} 
{% block title %}Fees{% endblock %}



{% block body %}

<h2 class="mt-1 mb-4"><i class="fas fa-hand-holding-usd"></i> Fees</h2>

<div class="row">
    
    <div class="col-md-8">
        <table class="table table-sm table-striped table-borderless">
        <thead>
            {% if user.favorite_team %}
                <tr style="background-color:{{user.favorite_team.color_01}};color:{{user.favorite_team.color_03}};border-color:{{user.favorite_team.color_03}}">
            {% else %}
                <tr class="bg-primary text-white">
            {% endif %}
            <th>Amount</th>
            <th>Country</th>
            <th>Local $</th>
            <th>Exchange Source</th>
            <th>Exchange Rate Date</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr style="border-bottom:1px solid silver;">
                <td>${{item.amount}}</td>
                <td>{{item.country.name}}</td>
                <td>${{item.local_amount}}</td>
                <td>{{item.exchange_source}}</td>
                <td>{{item.exchange_rate_date|date:'l, M d'}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div><!--END ROW-->

{% endblock %}