{% extends 'base.html' %} 
{% block title %}Home{% endblock %}
{% load tz %}
{% block body %}

  <p class="text-right">All times are displayed in your selected <strong>{{request.session.django_timezone}}</strong> Timezone</p>

  {% include "home/alerts.html" %}
  
  <div class="row mb-3">
    <div class="col-md-4 themed-grid-col">
      {% include "home/top_five.html" %}
    </div>
    <div class="col-md-4">
        {% include "home/news.html" %}
    </div>
    <div class="col-md-4 themed-grid-col">
      {% include "home/overall.html" %}
    </div>
  </div>

{% endblock %}