{% extends 'base.html' %}
{% load static %}

{% block additionalStyles %}
    <link rel="stylesheet" type="text/css" href="{% static '/nfl/form-validation.css' %}">
{% endblock additionalStyles %}

{% block title %}Edit Profile{% endblock title %}

{% block body %}

{% comment %} <div class="py-3 text-center">
    <h2>{{customUser.username}}</h2>
    <p class="lead">Edit your profile below.</p>
  </div> {% endcomment %}

  <div class="row justify-content-center py-3">
    <div class="col-5">

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-row">
        <div class="form-group col-md-6">
          <button class="btn btn-success" type="submit">Save</button>
        </div>
        <div class="form-group col-md-6">
          <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
        </div>
      </div>

          <div class="media">
          {% if customUser.favorite_team %}
          <img src="../../static/nfl/{{customUser.favorite_team.image_name}}" class="mr-3"  alt="NFL Logo" width="106px">
          <div class="media-body">
            <h5 class="mt-0">{{customUser.favorite_team.name}} {{customUser.favorite_team.nick_name}}</h5>
          </div>
          {% endif %}
          
        </div><!--MEDIA-->

      </form>
    </div>
  </div>


{% comment %} <div class="row justify-content-center">
  <div class="col-5">

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div style="text-align: center;">
        <img class="mb-4" src="../../static/nfl/NFL.gif" alt="">
      </div>
    
      <h1 class="h3 mb-3 font-weight-normal">Register for llsutherland.ca</h1>

      {% if form.errors %}
        <div class="alert alert-danger" role="alert">Registration Error. Please see below.</div>
      {% endif %}   

      <div class="form-row">
        <div class="form-group col-md-12">
        {% if form.username.errors %}
          <label for="{{ form.username.id_for_label }}" style="color:#dc3545;">Username</label>    
          <input type="text" name="username" class="form-control is-invalid" aria-describedby="inputGroupPrepend3" maxlength="150" autofocus required id="id_username">
          <div class="invalid-feedback">
            {{ form.username.errors }}
          </div>
        {% else %}
          <label for="{{ form.username.id_for_label }}">Username</label>    
          <input type="text" name="username" class="form-control" maxlength="150" autofocus required id="id_username">
          <small id="usernameHelp" class="form-text text-muted">Required. 150 characters or fewer. Names and numbers only.</small>
        {% endif %}    
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group col-md-12">
          {% if form.email.errors %}
            <label for="{{ form.email.id_for_label }}" style="color:#dc3545;">Email</label>    
            <input type="email" name="email" class="form-control is-invalid" aria-describedby="inputGroupPrepend4" maxlength="254" autofocus required id="id_email">
            <div class="invalid-feedback">
              {{ form.email.errors }}
            </div>
          {% else %}
            <label for="{{ form.email.id_for_label }}">Email</label>    
            <input type="text" name="email" class="form-control" maxlength="254" autofocus required id="id_email">
            <small id="emailHelp" class="form-text text-muted">Enter a valid email address for us to contact you.</small>
          {% endif %}     
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id_first_name">First:</label> 
          <input type="text" name="first_name" class="form-control" maxlength="20" required autofocus id="id_first_name">
        </div>

        <div class="form-group col-md-6">
          <label for="id_last_name">Last:</label> 
          <input type="text" name="last_name" class="form-control" name="last_name" required autofocus id="id_last_name">
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id_mobile">Mobile #:</label> 
          <input type="text" name="mobile" class="form-control" maxlength="20" autofocus id="id_mobile">
          <small id="mobileHelp" class="form-text text-muted">Optional. At some point, I may introduce (opt-in) text alerts. Will always remain hidden.</small>
        </div>

        <div class="form-group col-md-6">
          <label for="id_image">Image:</label> 
          <input type="file" name="image" class="form-control-file" name="image" accept="image/*" id="id_image">
        </div>
      </div>
  
      <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Update</button>
    </form> 
  </div>
</div> {% endcomment %}

{% endblock body %}
