{% extends 'base.html' %}
{% load static %}

{% block additionalStyles %}
    <link rel="stylesheet" type="text/css" href="{% static '/nfl/form-validation.css' %}">
{% endblock additionalStyles %}

{% block title %}Edit Profile{% endblock title %}

{% block body %}

  <div class="py-3 text-center">
      <h2>{{customUser.username}}</h2>
      <p class="lead">Edit your profile below.</p>
  </div>

  <div class="row justify-content-center py-3">
  
    <div class="col-7">

    
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {% if request.user.favorite_team %}
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" style="background-color:{{user.favorite_team.color_03}};color:{{user.favorite_team.color_01}};border-color:{{user.favorite_team.color_02}}">Update</button>
      {% else %}
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Update</button>
      {% endif %}
      
    </form>   

   
    </div>
  </div>

{% endblock body %}
