<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NFL Football Pool run by friends for friends">
    <meta name="author" content="Lindsay Sutherland">

    <link rel="stylesheet" type="text/css" href="{% static '/nfl/bootstrap.min.css' %}"> 
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>    
    <title>llsutherland.ca</title>
</head>

    <body>
    {% include "nav-no-season.html" %}    

        <main role="main" style="padding-top: 3.5rem;">
            
            <div class="container">

            <h1>Pool Setup not complete</h1>
            <h2>No season exists</h2>

            </div>
        </main>

    </body>

</html>