{% load humanize %}
{% for item in picks %}
<div class="row">
    <div class="col-lg">
        {% ifchanged item.game.start_time %}
            <div class="row p-1 mt-2 mb-2 bg-primary text-white">
                <div class="col-lg text-left">
                    <span>{{item.game.start_time |date:'l, M d g:i a'}}</span>
                    <span>{{item.game.start_time |date:'e'}}</span>
                </div>
            </div>
        {% endifchanged %}
        <div class="row table-active p-1">
            <div class="col-lg text-left">{{item.game.city.name}} - {{item.game.city.stadium}}</div>
            <div class="col-lg text-right">[field: {{item.game.city.stadium.surface.name}}, capacity: {{item.game.city.stadium.capacity|intcomma}}]</div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-4">
                <div class="row align-items-center">
                    <div class="col-md mt-2">
                        <img src="../../static/nfl/small/{{item.game.visiting_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="28" height="28">{{item.game.visiting_team.nick_name}}
                    </div>
                    <div class="col-3">
                        {{item.game.visitor_score}}
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md">
                        <img src="../../static/nfl/small/{{item.game.home_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="28" height="28">{{item.game.home_team.nick_name}}
                    </div>
                    <div class="col-3">
                        {{item.game.home_score}}
                    </div>
                </div>
            </div>
            <div class="col-3">
                {{item.game.game_status.name|upper}}
            </div>
            <div class="col-3">
                {% if item.game.is_not_yet_started %}
                    <div class="btn-group">
                        {% if item.pick_type.id == 2 %}
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" style="color:{{item.game.home_team.color_01}};border-color:{{item.game.home_team.color_01}};" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../static/nfl/small/{{item.game.home_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="20" height="20"> {{item.game.home_team.name}}
                            </button>
                        {% elif item.pick_type.id == 3 %}
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" style="color:{{item.game.visiting_team.color_01}};border-color:{{item.game.visiting_team.color_01}};" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../static/nfl/small/{{item.game.visiting_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="20" height="20"> {{item.game.visiting_team.name}}
                            </button>
                        {% elif item.pick_type.id == 4 %}
                            <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Within Three
                            </button>
                        {% elif item.pick_type.id == 5 %}
                            <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Regulation Tie
                            </button>
                        {% elif item.pick_type.id == 6 %}
                            <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Overtime Tie
                            </button>
                        {% else %}
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                No Pick

                            </button>
                        {% endif %}
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/3" style="color:{{item.game.visiting_team.color_01}};">{{item.game.visiting_team.name}}</a>
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/2" style="color:{{item.game.home_team.color_01}};">{{item.game.home_team.name}}</a>
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/4">Within Three</a>
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/5">Regulation Tie</a>
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/6">Overtime Tie</a>
                        </div>
                    </div>
                {% else %}
                    <button class="btn btn-secondary btn-sm" type="button">
                        {% if item.pick_type.id == 2 %}
                            {{item.game.home_team.name}}
                        {% elif item.pick_type.id == 3 %}
                            {{item.game.visiting_team.name}}
                        {% else %}
                            {{item.pick_type.name}}
                        {% endif %}
                    </button>
                {% endif %}
                
            </div>
            <div class="col">
                {% if item.game.is_complete %}
                    {% if item.score > 0 %}
                        <strong>{{item.score}}</strong>
                    {% else %}
                    <span>0</span>
                    {% endif %} 
                {% endif %}
                
            <div>
        </div>
    </div>    
  </div>
  {% endfor %}