{% load humanize %}
<div class="row" style="border-bottom:1px solid whitesmoke;border-right:1px solid whitesmoke;">
    <div class="col-lg">
        <div class="row table-active p-1">
            <div class="col-lg">{{item.game.city.name}} - {{item.game.city.stadium}} [field: {{item.game.city.stadium.surface.name}}, capacity: {{item.game.city.stadium.capacity|intcomma}}] - {{item.game.start_time |date:'D, M d h:i e'}}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-4">
                <div class="row align-items-center">
                    <div class="col-md mt-2">
                        <img src="../../static/nfl/small/{{item.game.visiting_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="28" height="28">{{item.game.visiting_team.nick_name}}
                    </div>
                    <div class="col-3">
                        {{item.game.visitor_score}}
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md">
                        <img src="../../static/nfl/small/{{item.game.home_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="28" height="28">{{item.game.home_team.nick_name}}
                    </div>
                    <div class="col-3">
                        {{item.game.home_score}}
                    </div>
                </div>
            </div>
            <div class="col-3">
                {% comment %} {% if item.game.is_complete and item.game.is_within_three %}
                    Within 3
                {% endif %}
                {% if item.game.is_complete and item.game.is_reg_tie %}
                    <strong>Reg Tie</strong>
                {% endif %}
                {% if item.game.is_complete and item.game.is_overtime_tie %}
                    <strong>OT Tie</strong>

                {% endif %} {% endcomment %}
                {{item.game.game_status.name|upper}}
            </div>
            <div class="col-3">
                {% if item.game.is_not_yet_started %}
                    <div class="btn-group">
                        {% if item.pick_type.id == 2 %}
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" style="color:{{item.game.home_team.color_01}};border-color:{{item.game.home_team.color_01}};" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../static/nfl/small/{{item.game.home_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="20" height="20"> {{item.game.home_team.name}}
                            </button>
                        {% elif item.pick_type.id == 3 %}
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" style="color:{{item.game.visiting_team.color_01}};border-color:{{item.game.visiting_team.color_01}};" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../static/nfl/small/{{item.game.visiting_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="20" height="20"> {{item.game.visiting_team.name}}
                            </button>
                        {% elif item.pick_type.id == 4 %}
                            <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Within Three
                            </button>
                        {% elif item.pick_type.id == 5 %}
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Regulation Tie
                            </button>
                        {% elif item.pick_type.id == 6 %}
                            <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Overtime Tie
                            </button>
                        {% else %}
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                No Pick

                            </button>
                        {% endif %}
                        {% comment %} <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if item.pick_type.id == 2 %}
                                <img src="../../static/nfl/small/{{item.game.home_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="20" height="20"> {{item.game.home_team.name}}
                            {% elif item.pick_type.id == 3 %}
                                <img src="../../static/nfl/small/{{item.game.visiting_team.small_image_name}}" class="mr-1"  alt="NFL Logo" width="20" height="20"> {{item.game.visiting_team.name}}
                            {% else %}
                                {{item.pick_type.name}}
                            {% endif %}
                        </button> {% endcomment %}
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/3" style="color:{{item.game.visiting_team.color_01}};">{{item.game.visiting_team.name}}</a>
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/2" style="color:{{item.game.home_team.color_01}};">{{item.game.home_team.name}}</a>
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/4">Within Three</a>
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/5">Regulation Tie</a>
                            <a class="dropdown-item" href="/make_pick/{{item.id}}/6">Overtime Tie</a>
                        </div>
                    </div>
                {% else %}
                    <button class="btn btn-secondary btn-sm" type="button">
                        {% if item.pick_type.id == 2 %}
                            {{item.game.home_team.name}}
                        {% elif item.pick_type.id == 3 %}
                            {{item.game.visiting_team.name}}
                        {% else %}
                            {{item.pick_type.name}}
                        {% endif %}
                    </button>
                {% endif %}
                
            </div>
            <div class="col">
                {% if item.game.is_complete %}
                    {% if item.score > 0 %}
                        <strong>{{item.score}}</strong>
                    {% else %}
                    <span>0</span>
                    {% endif %} 
                {% endif %}
                
            <div>
        </div>
    </div>
    {% comment %} <div class="col-sm">
      One of four columns
    </div>
    <div class="col-sm">
      One of four columns
    </div>
    <div class="col-sm">
      One of four columns
    </div>
    <div class="col-sm">
      One of four columns
    </div> {% endcomment %}
  </div>