{% extends 'base.html' %}

{% block title %}Payment{% endblock %}

{% block body %}

<div class="py-2">

<h2>User{{ items.count|pluralize }} ({{ items.count }})</h2>

{% for item in page_obj  %}
<div class="media mb-4 mt-4">
   <div class="media-body">
    <h5 class="mt-0">{{item.username}}</h5>
    <span style="font-style:italic;">{{item.username}}</span> is <br/> {{item.first_name}} <br/> {{item.last_name}
    <br/>
    <a href="mailto:{{item.email}}?Subject=NFL Football Pool">{{item.email}}</a>    
  </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
     {% endif %}

    <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

     {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
     {% endif %}
  </ul>
</nav>
</div>  

{% endblock %}