.arizona {
    background-color: #97233F;
    color: #FFB612;
    border-color: #FFB612;
}

.atlanta {
    background-color: #A71930;
    color: #A5ACAF;
    border-color: #A5ACAF;
}

.buffalo {
    background-color: #00338D;
    color: #FFFFFF;
    border-color: FFFFFF;
}