<div class="row align-items-center mb-2">
    <div class="col-4">
        {% include 'picks/list/visitor_row.html' %}
        {% include 'picks/list/home_team_row.html' %}
    </div><!--END COL 4-->
    <div class="col-3">
        {% include 'picks/game_status.html' %}
    </div><!--END COL 3-->
    <div class="col-3">
        {% include 'picks/pick_buttons.html' %}                
    </div><!--END COL 3-->
    <div class="col-2">
        {% include 'picks/list/pick_score.html' %}               
    <div><!--END COL 2-->
</div><!--ROW 4-->