<table class="table table-sm table-striped table-bordered table-hover">
    <thead>
    {% if user.favorite_team %}
        <tr style="background-color:{{user.favorite_team.color_01}};color:{{user.favorite_team.color_03}};border-color:{{user.favorite_team.color_03}}">
    {% else %}
        <tr class="bg-primary text-white">
    {% endif %} 
        <th>Name</th>
        <th colspan="5">Post-Season</th>
    </tr>
    <tr class="table-active">
        <th>Poolee</th>
        <th>Wk 1</th>
        <th>Wk 2</th>
        <th>Wk 3</th>
        <th>Wk 4</th>
        <th>Tot</th>
    </tr>
    </thead>
    {% for item in items %}
    <tr>
        <td><span {% if request.user.username == item.user.username %} class="highlight-user"{% endif %}>{{item.user.username}}</span></td>
        <td>{{item.post_week_1}}</td>
        <td>{{item.post_week_2}}</td>
        <td>{{item.post_week_3}}</td>
        <td>{{item.post_week_4}}</td>
        <td>{{item.post_total}}</td>            
    </tr>        
    {% endfor %}
</table>