{% extends 'base.html' %} 
{% block title %}Standings{% endblock %}

{% block body %}

{% block container_type %}
  <div class="container{% if preferences.site_width == 'wide' %}-fluid{% endif %}">
{% endblock %}

<div class="row">
  <div class="col">
    <h2 class="mb-4"><i class="fas fa-sort-amount-up"></i> Standings</h2>
  </div>
  <div class="col">
    {% include 'standings/week_selector.html' %}
  </div>
</div>

<div class="row" id="pageLayoutDiv" style="display:none">
  <div class="col">
    {% include 'standings/preferences.html' %}
  </div>
</div>

<div class="row mb-3">   
    <div class="col themed-grid-col">
        {% if selected_week_type.id == 1 %}
            {% include 'standings/pre.html' %}
        {% elif selected_week_type.id == 2 %}        
            {% include 'standings/reg.html' %}
        {% elif selected_week_type.id == 3 %}        
            {% include 'standings/post.html' %}
        {% else %}
            {% include 'standings/all.html' %}
        {% endif %}
    </div>

</div><!--END ROW-->

{% endblock %}