<div class="btn-toolbar justify-content-end mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if selected_week_type.id == '4' %}
        All
      {% else %}
        {{selected_week_type.name}}
      {% endif %}
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="/change_week_type_for_standings/1">Preseason</a>
      <a class="dropdown-item" href="/change_week_type_for_standings/2">Regular Season</a>
      <a class="dropdown-item" href="/change_week_type_for_standings/3">Post-Season</a>
      <a class="dropdown-item" href="/change_week_type_for_standings/4">All</a>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-secondary" onclick="showElement()"><i class="fas fa-cog"></i></button>
  </div>
</div>

