{% extends 'base.html' %} 
{% block title %}Winners{% endblock %}

{% block body %}

{% block container_type %}
  <div class="container{% if preferences.site_width == 'wide' %}-fluid{% endif %}">
{% endblock %}

<div class="row">
  <div class="col-sm-8">
    <h2 class="mb-4"><i class="fas fa-trophy"></i> Winners</h2>
  </div>
  <div class="col-sm-4">
    {% include 'winners/week_selector.html' %}
  </div>
</div>

<div class="row" id="pageLayoutDiv" style="display:none">
  <div class="col">
    {% include 'winners/preferences.html' %}
  </div>
</div>

<div class="row mb-1">
{% for item in winners %}
    <div class="col-lg themed-grid-col m-1">
        {% if preferences.winners_page_layout_type.id == 1 %}
            {% include 'winners/list.html' %}
        {% elif preferences.winners_page_layout_type.id == 2 %}
            {% include 'winners/grid.html' %}
        {% else %}
            {% include 'winners/compact.html' %}  
        {% endif %}
    </div><!--END COL-->
    {% if forloop.counter|divisibleby:4 %}
    </div><!--END ROW-->
    <div class="row mb-1"><!--START NEW ROW-->
    {% endif %}
{% endfor %}
</div> <!--END ROW-->

{% endblock %}