{% extends 'base.html' %} 
{% block title %}Picks{% endblock %}
{% load tz %}
{% block body %}

<div class="row">
  <div class="col">
    <h2 class="mb-4"><i class="fas fa-clipboard-check"></i> Picks</h2>
  </div>
  <div class="col">
    {% include 'picks/week_selector.html' %}
  </div>
</div>

<div class="row" id="pageLayoutDiv" style="display:none">
  <div class="col">
    {% include 'picks/preferences.html' %}
  </div>
</div>

<div class="row">
  <div class="col-12">
    {% if preferences.picks_page_layout_type.id == 1 %}
      {% include 'picks/list.html' %}
    {% elif preferences.picks_page_layout_type.id == 2 %}
      {% include 'picks/grid.html' %}
    {% else %}
      {% include 'picks/compact.html' %}  
    {% endif %}        
  </div><!--OUTER PICKS COL-->
</div><!--OUTER PICKS ROW-->

{% endblock %}


