<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-12">
            <textarea name="message" cols="125" rows="2" maxlength="250" required id="id_message" style="border:none;border-top:1px solid silver;border-bottom:1px solid silver;"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-10">&nbsp;</div>
        <div class="form-group col-2">
            {% if user.favorite_team %}
                <button class="btn btn-primary btn-sm" type="submit" style="background-color:{{user.favorite_team.color_01}};color:{{user.favorite_team.color_02}};border-color:{{user.favorite_team.color_03}}">Submit</button>     
            {% else %}
                <button class="btn btn-primary btn-sm" type="submit">Submit</button>     
            {% endif %}
            
        </div>
    </div>
</form>