{% if form.password2.errors %}
    <label for="{{ form.password2.id_for_label }}" style="color:#dc3545;">Confirm Password</label>    
    <input type="password" name="password2" class="form-control is-invalid" aria-describedby="inputGroupPrepend8" autocomplete="new-password" required id="id_password2">
    <div class="invalid-feedback">
        {{ form.password2.errors }}
    </div>
{% else %}
    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>    
    <input type="password" name="password2" class="form-control" autocomplete="new-password" required id="id_password2">
    <small id="password2Help" class="form-text text-muted">Enter the same password as before, for verification.</small>
{% endif %}  