{% if form.password1.errors %}
    <label for="{{ form.password1.id_for_label }}" style="color:#dc3545;">Password</label>    
    <input type="password" name="password1" class="form-control is-invalid" aria-describedby="inputGroupPrepend7" autocomplete="new-password" required id="id_password1">
    <div class="invalid-feedback">
        {{ form.password1.errors }}
    </div>
{% else %}
    <label for="{{ form.password1.id_for_label }}">Password</label>    
    <input type="password" name="password1" class="form-control" autocomplete="new-password" required id="id_password1">
    <small id="password1Help" class="form-text text-muted">Your password must contain at least 8 characters, can't be a commonly used password and can't be entirely numeric.</small>
{% endif %}