<label for="id_timezone">Timezone:</label> 
<select name="timezone" id="id_timezone" class="form-control">
  <option value="US/Alaska">US/Alaska</option>
  <option value="US/Arizona">US/Arizona</option>
  <option value="US/Central">US/Central</option>
  <option value="US/Eastern" selected>US/Eastern</option>
  <option value="US/Hawaii">US/Hawaii</option>
  <option value="US/Mountain">US/Mountain</option>
  <option value="US/Pacific">US/Pacific</option>
  <option value="Europe/Amsterdam">Europe/Amsterdam</option>
  <option value="Europe/Athens">Europe/Athens</option>
  <option value="Europe/Belgrade">Europe/Belgrade</option>
  <option value="Europe/Berlin">Europe/Berlin</option>
  <option value="Europe/Brussels">Europe/Brussels</option>
  <option value="Europe/Bucharest">Europe/Bucharest</option>
  <option value="Europe/Budapest">Europe/Budapest</option>
  <option value="Europe/Copenhagen">Europe/Copenhagen</option>
  <option value="Europe/Dublin">Europe/Dublin</option>
  <option value="Europe/Gibraltar">Europe/Gibraltar</option>
  <option value="Europe/Helsinki">Europe/Helsinki</option>
  <option value="Europe/Istanbul">Europe/Istanbul</option>
  <option value="Europe/Kiev">Europe/Kiev</option>
  <option value="Europe/Lisbon">Europe/Lisbon</option>
  <option value="Europe/London">Europe/London</option>
  <option value="Europe/Luxembourg">Europe/Luxembourg</option>
  <option value="Europe/Madrid">Europe/Madrid</option>
  <option value="Europe/Malta">Europe/Malta</option>
  <option value="Europe/Moscow">Europe/Moscow</option>
  <option value="Europe/Oslo">Europe/Oslo</option>
  <option value="Europe/Paris">Europe/Paris</option>
  <option value="Europe/Prague">Europe/Prague</option>
  <option value="Europe/Rome">Europe/Rome</option>
  <option value="Europe/Sarajevo">Europe/Sarajevo</option>
  <option value="Europe/Stockholm">Europe/Stockholm</option>
  <option value="Europe/Vienna">Europe/Vienna</option>
  <option value="Europe/Volgograd">Europe/Volgograd</option>
  <option value="Europe/Warsaw">Europe/Warsaw</option>
  <option value="Europe/Zurich">Europe/Zurich</option>
</select>